#cadastro{

    background-image: url(../img/backcad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;


}

#h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-align: center;

}

#nc, #ng, #email, .pass {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box ;
    border: 3px solid rgb(68, 0, 255);
    -webkit-transition: 0.8s;
    transition: 0.8s;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 20px;
}

::placeholder{
    color: white;
    opacity: 1;
}
  
#nc:focus, #ng:focus, #email:focus, .pass:focus {
    border: 3px solid rgb(0, 0, 0);
}

#button{
    background-color: rgb(68, 0, 255);
    border-radius: 100px;
    display: inline-flex;
    cursor: pointer;
    color:white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 76px 40px;
    font-size: 20px;
    
}