.tudo{
    background-image:url("../img/bckgr.jpg");
    background-size: cover;
    background-repeat:no-repeat;

}
.Perfil{
    text-align: center;
    color: rgb(143, 227, 241);
}

.part2{

    text-align: center;
}
.button{
    background-color: rgb(46, 5, 158);
    text-align: center;
    border: none;
    color: antiquewhite;
    padding: 20px 20px;
    text-decoration: blanchedalmond;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.circle_button{
    text-align: center;
    border: none;
    color: antiquewhite;
    padding: 20px 15px;
    text-decoration: blanchedalmond;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(46, 5, 158);
}