﻿#preferencias{
    background-image: url("../img/backpref.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

#imejunior{

    width: 20%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#anohana{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#onepiece{

    width: 35%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


#aside{
    background: #ff0000;
    margin: 1em 0;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

#faixa{
    text-align: center;
    height: 40px;
    background: rgb(199, 7, 81);
    font-size:30px;
}